---
title: Professional Services Full Catalog
suppress_header: false
description: "Full catalog of services offered by GitLab's Professional Services team, along with their current maturity levels."
canonical_path: "/services/catalog/"
extra_css:
  - services.css
extra_js:
  - services.js
---

.services-page#offerings
  .page-container.container.services-block
    %ol.breadcrumb
      %li 
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1
        %p 
          Below are services offered by GitLab’s Professional Services team, along with their current maturity levels.
          For more details on buying Professional Services, see our 
          %a{href: "/services/", target: "_blank"}
            services homepage 
          or use the form below to request more information. For more information about selling Professional Services, see our
          %a{href: "/handbook/customer-success/professional-services-engineering/", target: "_blank"}
            handbook page.
          <br/>
          <br/>
          Our classes cover some features that are available in all three GitLab pricing tiers (Free, Premium, and Ultimate),
          some features that are only available in Premium and Ultimate, and a small number of features that are only
          available in Ultimate.
          <br/>
          <br/>
          Note: These are the current “off the shelf” offerings. Custom classes are also available and can be requested
          through the form at the bottom of this page.
          <br/>
          Note: An overview of the Customer Success Services included with your Subscription to Software can be found at
          %a{href: "/handbook/customer-success/csm/digital-journey/", target: "_blank"}
            the Digital Customer Programs page.
    %br
    .row
      .col-md-12
        %table.table
          %thead
            %tr
              %th Service Category
              %th Service Name & Data Sheet
              %th Target Audience
              %th SOW Template/Service Description
          - data.services.sort_by{ |s| [s.order, s.category] }.each_with_index do |service, index|
            %tr
              %td
                %p #{service.category}
              %td
                %p
                  %a{ href: service.desc_url } 
                    #{service.name}
              %td
                %p #{service.target_audience}
              %td
                %p
                  %a{ href: service.sowsd_ref } 
                    #{service.sowsd}

= partial "includes/services-contact-form"
