---
layout: markdown_page
title: "Category Direction - Settings"
description: "This page outlines the direction for the settings product category."
canonical_path: "/direction/foundations/personal_productivity/settings/"
epic_roadmap: https://gitlab.com/groups/gitlab-org/-/roadmap?state=all&sort=start_date_asc&layout=QUARTERS&timeframe_range_type=THREE_YEARS&label_name%5B%5D=Category:Settings&label_name%5B%5D=direction&progress=COUNT&show_progress=true&show_milestones=false&milestones_type=GROUP&show_labels=false
---

- TOC
{:toc}

|                       |                               |
| -                     | -                             |
| Stage                 | [Manage](/direction/manage/)  |
| Maturity              | N/A |
| Content Last Reviewed | `2024-07-19`                  |

## Introduction and how you can help

<%= partial("../templates/intro.html", { locals: { context: "Settings category", label: "Category:Settings" }}) %>

## Strategy and themes

Over years of product development, the Gitlab settings have evolved into a catchall space lacking a cohesive structure. As a result, it's evident there is difficulty in discovering, finding, and configuring settings within GitLab. Our goals to address this include:

- Improving the information architecture of the settings to aid discovery
- Aligning UI elements and patterns to our design system for a consistent and reliable user experience
- Enhancing functionality to help users stay on task

## 1 year plan

**Taking inventory**

Our starting point is to perform an assessment of the current experience. This includes blending our findings with the extensive [collection of epics ](https://gitlab.com/groups/gitlab-org/-/epics/4410 "GitLab Settings Prioritization & Scope") based on historical requests and user research. There are likely straightforward opportunities that require minimal validation. We will prioritize these earlier in our backlog while delving deeper into other areas.

[**Search for settings via the command palette**](https://gitlab.com/groups/gitlab-org/-/epics/13078)

GitLab offers many settings across project, group, instance, and personal levels.  Users find it difficult to know where to look for a given setting. They have to spend time looking through many possible locations in order to find the right spot. We will allow users to search for settings via the command palette this year.

### What is next for us

See our [roadmap in GitLab](https://gitlab.com/groups/gitlab-org/-/roadmap?state=all&sort=start_date_asc&layout=QUARTERS&timeframe_range_type=THREE_YEARS&label_name%5B%5D=group::personal%20productivity&label_name%5B%5D=direction&label_name%5B%5D=Category:Settings&progress=COUNT&show_progress=true&show_milestones=false&milestones_type=GROUP&show_labels=false).

### What we are currently working on

<%= partial("../templates/kickoff_video.html") %>

### Beyond 1 year

**Maturing the user experience for settings**

We have consistently received feedback from customers expressing the difficulty in discovering, finding, and recalling where to find specific settings within GitLab. We want to further simplify the settings pages to aid new users in setting up their first GitLab project.

We have also heard from enterprise accounts that managing settings at the project level does not scale to meet their need of administering 1,000s of projects. We will explore approaches that allow large GitLab installations to drive consistency in how they govern their projects.

## Target audience

* [Delaney (Development Team Lead)](https://handbook.gitlab.com/handbook/product/personas/#delaney-development-team-lead)
* [Priyanka (Platform Engineer)](https://handbook.gitlab.com/handbook/product/personas/#priyanka-platform-engineer)
* [Sidney (Systems Administrator)](https://handbook.gitlab.com/handbook/product/personas/#sidney-systems-administrator)
* [Allison (Application Ops)](https://handbook.gitlab.com/handbook/product/personas/#allison-application-ops)
* [Ingrid (Infrastructure Operator)](https://handbook.gitlab.com/handbook/product/personas/#ingrid-infrastructure-operator)
* [Isaac (Infrastructure Engineer)](https://handbook.gitlab.com/handbook/product/personas/#isaac-infrastructure-security-engineer)
* [Alex (Security Operations Engineer)](https://handbook.gitlab.com/handbook/product/personas/#alex-security-operations-engineer)