---
layout: default
title: Release Blog archives
description: "Explore the GitLab release archives for detailed information on past versions, including release notes, features, improvements, and resolved issues."
blog: releases
---

.blog.archives
  .wrapper
    = partial "includes/newsletter-signup.html"
    .section
      %ul
        - blog.articles.each do |post|
          %li
            - if post.date
              %time
                = post.date.to_time.strftime '%b %e, %Y'
            = link_to post.url do
              = post.title
