---
layout: sec_direction
title: Product Stage Direction - Security Risk Management
description: "The Secure Section focuses on identifying security findings within applications and services prior to moving them to operations. Learn more!"
canonical_path: "/direction/security_risk_management/"
---
## On this page
{:.no_toc}

- TOC
{:toc}

<p align="center">
    <font size="+2">
        <b>Proactively identify vulnerabilities and weaknesses to minimize risk</b>
    </font>
</p>

<%= partial("direction/application_security_testing/templates/overview") %>

<%= devops_diagram(["Security Risk Management"]) %>

## Stage Overview

abc 

### Groups

abc 