---
layout: markdown_page
title: "Category Direction - Navigation"
description: "This page outlines the direction for the navigation product category."
canonical_path: "/direction/foundations/personal_productivity/navigation/"
---

- TOC
{:toc}

## Navigation

|                       |                               |
| -                     | -                             |
| Stage | [Foundations](/direction/foundations) |
| Maturity              | N/A |
| Content Last Reviewed | `2024-01-09`                  |

### Introduction and how you can help

<%= partial("../templates/intro.html", { locals: { context: "Navigation category", label: "Category:Navigation" }}) %>

### Overview

This joint category is shared between the navigation elements of GitLab and the settings that make it configurable. These aspects serve as the framing for the product itself. Our goal is to make these areas of the product more useful, predictable, and convenient.

Navigation is the highway through which almost every feature is accessed or discovered, and it must be accessible for all types of people and abilities. For this reason, the navigation structure is one of the most important parts of any application’s user interface.

### Strategy and Themes

The complexity and breadth of GitLab weighs heavily on both the navigation and settings. In FY24 we invested in [overhauling our core navigation](https://gitlab.com/groups/gitlab-org/-/epics/9044 "Overhaul the core navigation experience"), and now we are looking towards how the navigation must evolve to address existing pain points while also accommodating future changes to the product. With settings we must address the historical challenges: discoverability, consistency, access, and visibility.

#### Navigation

The navigation experience _must_ be described as intuitive. When navigation is effective, users trust that they can rely on it to help orient and empower themselves within the product. To aid in decision making we will continue to invest in these themes:

- Minimizing the feeling of being overwhelmed
- Orienting users across the platform
- Making it easier to pick up where you left off

Executing this plan we will requires iterating in three ways:

1. Addressing insights from our quarterly navigation survey
1. Simplifying the navigation structure by removing and relocating outdated items
1. Refining the quality and polish of the experience to be more useful, functional, and intuititve

In addition, the Personal productivity group owns the [navigation structures](https://handbook.gitlab.com/handbook/product/ux/navigation/) of GitLab and is responsible for reviewing and approving any proposed changes. Given the effort required by these requests we dedicate time each milestone to support teams with [this process](https://handbook.gitlab.com/handbook/product/ux/navigation/#how-to-propose-a-change-that-impacts-navigation).

### Maturity Plan

As this is not a marketing category, we don't have a specific measure of maturity.

### Target Audience

All [roles & personas](https://about.gitlab.com/handbook/product/personas/) interact with this category in some capacity.